<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DawnDreams.NyangNyang">

    <application
        android:label="냥냥원정대"
        android:icon="@mipmap/app_icon">

        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="dawndreams" <!-- 커스텀 스키마 -->
                    android:host="nyangnyang" <!-- 주요 호스트 -->
                    android:pathPrefix="/TitleScene" /> <!-- 경로 지정 -->
            </intent-filter>
        </activity>
    </application>
</manifest>
